body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-light-sasi-01_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=d605d7951d1238b05115a424fa804045");
}

buttons {
    justify-content: flex-end;
}

.container {
 
    
    background-color: white;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 100px;
    
   

}

.row {
    margin: 15px 15px 15px 15px;
}
.column-float {
    float: right;
}

#heading {
    color: teal;
    justify-content: space-around;
}

.btn {
    background-color: teal;
    border-color: salmon;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: slategrey;
    text-align: center;
    color: darkgray;
    border-top: 8px solid teal;
  }