body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-light-sasi-01_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=d605d7951d1238b05115a424fa804045");
}

buttons {
    justify-content: flex-end;
}

/* .row-1 {
    width: 600px
} */

.container {
 
    
    background-color: white;
    width: 600px;
    margin-top: 60px;
    margin-left: 100px;
    padding: 20px 20px 20px 20;
   

}

#navbarNav {
    justify-content: flex-end;
    font-style: normal;
}

.navbar-brand {
    font-weight: bolder;
    background-color: salmon;
}

.row {
    padding: 5px 10px 0 10px;
}

.textwrap {
    float: left;
margin: 10px;
}


.column-float {
    float: right;
}

#heading {
    color: teal;
    justify-content: space-around;
    font-family: 'Abril Fatface', cursive;
}

.btn {
    background-color: teal;
    border-color: salmon;
}

.images {
    float: none;
    width: 100%;
    border

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: slategrey;
    text-align: center;
    color: darkgray;
    border-top: 8px solid teal;
  }